{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" type="text/css" href="{% static 'recipe/style.css' %}">
  <title>CandleLight</title>
</head>
<body>
  <div class="container">
    <header class="header">
      <div class=""></div>
      <div class="">Johnny's Recipes</div>
      <div class=""></div>
    </header>
    <nav class="nav">
      <div class="div"><a href="">Home</a></div>
      <div class="div"><a href="/recipe">Recipes</a></div>
      <div class="div"><a href="">Login</a></div>
      <div class="div"><a href="">Search</a></div>
    </nav>
    <div class="rtSidebar">
      <h1>rtSidebar</h1>
    </div>
    <main class="main">
      <h1>main</h1>
    </main>
    <div class="ltSidebar">
      <h1>ltSidebar</h1>
    </div>
    <div class="imgCarousel">
      <h1>imgCarousel</h1>
    </div>
    <div class="sponsorBanner">
      <h1>sponsorBanner</h1>
    </div>
    <footer>
      <h1>footer</h1>
    </footer>
  </div>
</body>
</html>
